p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 3;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

button {
  width: 20vw;
  height: 10vh;
  margin: 0 auto;
  background: #168955;
  border: none;
  outline: none;
  position: relative;
  z-index: 0;
  color: #fff;
  /*transition: width 100ms;*/
}

button:hover {
  cursor: pointer;
  background: #14794b;
}


.buttonContent {
  transition: width 100ms;
}
/*button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: blue;
  height: 100%;
  width: 100%;
  z-index: 1;
}*/

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  background: #016522;
  height: 100%;
  width: 0;
  z-index: 1;
  transition: width 200ms;
}
